<p>Search for your favorite airport</p>

<div *ngIf="errorMessage" style="color: red;">
  Error while searching: {{ errorMessage }}
</div>

<div class="input-group search-bar">
  <input type="search" class="form-control rounded" placeholder="Enter the ICAO Code of the airport" aria-label="Search"
    aria-describedby="search-addon" [(ngModel)]="icaoCode" />
  <button type="button" class="btn btn-outline-primary" (click)="searchAirport()">
    <span class="material-symbols-outlined"> search </span>
  </button>
</div>

<div *ngIf="showFavoriteAirport">
  <h2 class="favorite-airport-text">Your featured airport</h2>
  <div class="card-group favorite-airport">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ favoriteAirport.name }}</h2>
        <p class="card-text">ICAO: {{ favoriteAirport.ident }}</p>
        <p class="card-text">Country: {{ favoriteAirport.country.name }}</p>
        <p class="card-text">Coordinates: ({{ favoriteAirport.latitude_deg }}, {{ favoriteAirport.longitude_deg }})</p>
      </div>
      <div class="card-body">
        <a [href]="favoriteAirport.home_link" class="card-link">Website</a>
        <a [href]="favoriteAirport.wikipedia_link" class="card-link">Wikipedia</a>
      </div>
    </div>
  </div>

  <div class="map-container">
    <google-map height="300px" width="100%" [center]="center" [zoom]="15">
      <map-marker [position]="markerPosition" [options]="markerOptions">
      </map-marker>
    </google-map>
  </div>
</div>

<!-- Show map and airport details for searched airport -->
<div *ngIf="airportData && !showFavoriteAirport">
  <h2 class="favorite-airport-text">You searched for {{ icaoCode }} ICAO code.</h2>
  <div class="card-group searched-airport">
    <div class="card" style="width: 18rem;" *ngIf="airportData">
      <div class="card-body">
        <h4 class="card-title">Name: {{airportData.name}}</h4>
        <p class="card-text">ICAO: {{airportData.ident}}, IATA: {{airportData.iata_code}}</p>
        <p class="card-text">Country: {{airportData.country.name}}</p>
        <p class="card-text">Coordinates: ({{airportData.latitude_deg}}, {{airportData.longitude_deg}})</p>
        <p class="card-text">Number of runways: {{airportData.runways.length}}</p>
        <div class="card-body">
          <a [href]="airportData.home_link" class="card-link">Website</a>
          <a [href]="airportData.wikipedia_link" class="card-link">Wikipedia</a>
        </div>
      </div>
    </div>
  </div>

  <div class="map-container">
    <google-map height="300px" width="100%" [center]="center" [zoom]="15">
      <map-marker [position]="markerPosition" [options]="markerOptions">
      </map-marker>
    </google-map>
  </div>
</div>