<button type="button" class="btn btn-primary">Test Button</button>Step 7: Serve Your ApplicationRun your Angular application using the Angular CLI:
<div class="text-center">
  <h1>haha</h1>
  <p>contras</p>
  <button class="btn btn-primary">bootstrap-button</button>
</div>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<span class="material-symbols-outlined">
  delete_forever
  </span>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <span class="material-symbols-outlined">refresh</span>&nbsp; Retake quiz
